// Includes

@import "reset"


// Base

*
  position: relative
  box-sizing: border-box

::selection
  background: gray
  color: white

body
  font-family: "Helvetica Neue"
  font-weight: 300
  margin: 0 auto
  width: 600px

a
  color: deepskyblue

p
  padding-bottom: 1em

h1
  font-size: 36px
  font-weight: 600
  margin: 0.5em 0

h2
  font-size: 18px
  margin: 0.5em 0 1.25em 0

ol
  margin-bottom: 1.5em
  margin-left: 1.5em

  li
    line-height: 1.4
    list-style: decimal
    margin-bottom: 0.5em

kbd
  background-color: #eee
  border-radius: 4px
  font-face: monospace
  font-size: 13px
  padding: 0.25em

#list
  font-family: "Helvetica Neue"
  padding: 10px
  width: 455px
  height: 350px

#go
  background: deepskyblue
  border: 0
  border-radius: 4px
  color: white
  font-family: "Helvetica Neue"
  font-size: 28px
  margin-left: 25px
  padding: 0.25em 1em
  vertical-align: top

.contact-me
  margin: 1.5em 0
  text-align: center
